---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} The Ouevre</p>
</footer>

<style>
	footer {
		padding: 2em 1em 4em;
		text-align: center;
		color: rgb(120, 120, 120);
		font-size: 0.85em;
		border-top: 1px solid rgb(235, 235, 230);
	}
	footer p {
		margin: 0;
	}
</style>
